.login-container, .signin-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    
}

label {
    margin: 0;
}

.signin-login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;

}

.input-container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.submit-container {
    display: flex;
    justify-content: center;
}



.redirect {
    color: orange;
    text-decoration: none;
}
.redirect:hover {
    color: orange;
    text-decoration: underline;
}

.pseudo-input {
    visibility: hidden;
}

.pseudo-input-display {
    visibility: visible;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}



/* 
PAGE UTILISATEUR
*/

@media screen and (min-width: 900px) {
    .userpage {
        margin: 2rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dashboard-container {
        width: 50%;
        p.p-title {
            padding: 2rem 0;
            text-wrap: wrap;
            font-size: 1.2rem;
        }

        p {
            text-wrap: wrap;
        }

        ul {
            padding: 2rem 2rem;
        }

        ul > li {
            padding: .8rem 0;
        }
    }

    .welcome-user {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 4rem 2rem 2rem 2rem;
    }

    /*
    ======MENU DISPLAY================================
    */

    .display-userrest {
        margin: 0 0 4rem 0;
    }

    .user-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem 1rem 1rem 4rem;
    }

    .menu-list {
        width: 100%;
        list-style-type: disc;
    }

    .menu-item {
        padding: 1rem 0 .4rem 0;
    }

/*
    .menu-item {
        list-style-type: disc;
        border: solid 1px red;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
*/

    /* DELETE PAGE */

    .user-modify-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
    .btn-container {
    margin: 1rem;
}
}

    .user-edit-form {
    display: flex;
flex-direction: column;
align-content: space-around;
align-items: center;
    width: 50%;
padding: 2rem 0;
}

.user-edit-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
margin: .5rem 0;
    input {
    width: 18rem;
}
}

.radio {
    margin: .5rem 0;
}

}



